.searchContainer {
    display: flex;
    align-items: center;
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    max-width: 300px; 
  }
  
  .searchIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: var(--grey); 
    transition: transform 0.1s ease-in-out; 
  }
  
  .searchIcon:active {
    transform: scale(0.9);
  }
  
  .searchInput {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--grey); 
    font-size: 14px;
  }
  
  .searchInput::placeholder {
    color: var(--grey); 
    opacity: 0.7; 
  }