.post {
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--grey);
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .content {
    margin: 10px 0;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .actions {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  .icon {
    color: var(--grey);
    transition: fill 0.3s ease;
    cursor: pointer;
  }
  
  .icon:hover {
    color: var(--black);
  }
  
  